@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #03071e;
  color: #ffba08;
  text-align: center;
}

#createOrderContainer, #create-item-container {
  width: 60%;
  margin: auto;
  justify-content: center;
}

#orderCardsDiv {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .card {
    width: 300px;
    margin: 15px;
  }

  .card-text {
    font-size: 18px;
  }
}

#login-page {
  background-color: #03071e;
  text-align: center;
}

.image-container {
  position: relative;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -50%;
  top: 50%;
  margin-top: -50%;
 }

.login-button {
  position: absolute;
  left: 50%;
  margin-left: -50%;
  top: 50%;
  margin-top: -50%;
}
