@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
import 


body {
  background-color: #03071e;
  color: #9a031e;
  text-align: center;
}

#createOrderContainer, #create-item-container {
  width: 60%;
  margin: auto;
  justify-content: center;
}

#orderCardsDiv {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .card {
    width: 300px;
    margin: 15px;
  }

  .card-text {
    font-size: 18px;
  }
}

#login-page {
  background-color: #03071e;
  text-align: center;
}
